.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px;
    background: var(--overlay-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 0.2s ease forwards;
}

.modalContainer {
    display: grid;
    grid-template-areas:
            "photo photoList"
            "modalContent modalContent"
            "desc actionBtns";
    grid-template-rows: minmax(300px, auto) auto 1fr;
    grid-template-columns: minmax(0, 650px) auto;
    background: white;
    border-radius: 30px;
    max-height: 90vh;
    overflow: hidden;

    transform: scale(0.95) translateY(20px);
    opacity: 0;
    animation: modalIn 0.25s ease forwards;
}

.mainImg {
    padding: 10px;
    grid-area: photo;
    border-right: 1px solid var(--border-default-color);
    border-bottom: 1px solid var(--border-default-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.photoList {
    padding: 10px;
    grid-area: photoList;
    display: flex;
    flex-direction: column;
    gap: 12px;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    overflow-y: auto;
}

.photoPreview {
    width: 100%;
    height: 100px;
    padding: 8px;
    border: 1px solid var(--border-default-color);
    border-radius: 16px;
    background: white;
    cursor: pointer;
    transition: border-color 0.2s ease,
    box-shadow 0.2s ease,
    transform 0.2s ease;
}

.photoPreview:hover {
    transform: scale(0.95);
}

.photoPreview img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.photoPreviewActive {
    border-color: var(--main-accent-color);
    box-shadow: 0 0 0 1px var(--main-accent-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes modalIn {
    from {
        transform: scale(0.95) translateY(20px);
        opacity: 0;
    }
    to {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}