.myHeader {
    background: var(--main-bg-color);
    transition: all 0.3s ease;
    border-radius: 10px 10px 10px 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 62px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.myHeader.scrolled {
    padding: 0 10px;
    top: 10px;
    box-shadow: 0 1.3px 0px 0 rgba(0,0,0,0.1);
}

.headerLogo {
    font-size: 25px;
    font-weight: 700;
    color: var(--main-title-color);
    cursor: pointer;
}

.headerLinks {
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.headerLinks__group {
    position: relative; /* Родительский контейнер для absolute позиционирования */
    display: inline-block;

    cursor: pointer;
    transition: opacity 0.3s ease;
}

.headerLinks__group:hover {
    opacity: 65%;
}

.headerLinks__item {
    height: 25px;
    width: 25px;
}

.headerLinks__item_count {
    position: absolute;
    top: -4px;
    right: -8px;

    width: 17px;
    height: 17px;
    font-size: 15px;
    font-weight: 500;
    background: var(--main-accent-color);
    color: #FFF;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}
